<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/src/output.css" rel="stylesheet">
</head>
<body>
    <div class="flex justify-center min-h-screen items-center bg-gray-100">
        <div class="bg-[#EFDDCF] max-w-sm w-full rounded overflow-hidden shadow-lg">
          <div class="p-6">
            <h1 class="text-[#2A505B] font-medium text-xl mb-2">Ingeleverd door: daggoe</h1>
            <h2 class="text-[#2A505B] font-bold text-xl mb-4">Verbaasd.</h2>
            <p class="text-gray-700 text-base mb-4">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
            </p>
      
            <img class="rounded-md w-full mb-4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMuRviGmuOIjiaBd9elsOJ9lthIA9hKV6JGQ&s" alt="Sunset in the mountains">
      
            <label for="message" class="block mb-2 text-sm font-medium text-[#2A505B]">Feedback:</label>
            <textarea id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 placeholder-gray-400" placeholder="Write your thoughts here..."></textarea>
          </div>
      
          <div class="flex justify-center gap-4 px-6 pb-6">
            <button class="bg-gray-800 hover:bg-gray-600 text-white font-bold py-2 px-12 rounded">
              Button
            </button>
            <button class="bg-orange-600 hover:bg-orange-400 text-white font-bold py-2 px-12 rounded">
              Button
            </button>
          </div>
        </div>
      </div>
      
</body>
</html>